Repository spdx/meetings, pull requests merged in 2024-03, with the labels that each got.

#626 Add Legal team meeting minutes 2024-01-25
  legal/2024-01-25.md
Labels: Legal

#623 Add Legal team meeting minutes 2023-11-09
  legal/2023/2023-11-09.md
Labels: Legal

#648 Create 2024-03-05.md
  tech/2024-03-05.md
Labels: Tech

#651 Create 2024-03-12.md
  tech/2024-03-12.md
Labels: Tech

#652 Create 2024-03-14.md
  serialisation/2024-03-14.md
Labels: Serialisation

#616 Add AI team meeting minutes 2024-02-07
  ai/2024-02-07.md
Labels: AI

#614 Add AI team meeting minutes 2024-01-31
  ai/2024-01-31.md
Labels: AI

#613 Add AI team meeting minutes 2024-01-24
  ai/2024-01-24.md
Labels: AI

#520 Create 2023-10-11.md
  ai/SPDX AI Team Meeting 2023-10-11.md
Labels: AI

#653 Create 2024-03-19.md
  tech/2024-03-19.md
Labels: Tech
