Repository spdx/meetings, pull requests merged in 2024-06, with the labels that each got.

#681 Add May General Meeting mins
  general/2024/2024-05-02.md
Labels: General

#714 Create 2024-06-06.mmd
  tech/2024-06-06-translation.md
Labels: Tech

#717 Create 2024-06-10.md
  asia/2024-06-10.md
Labels: Asia

#718 Create 2024-06-11.md
  tech/2024-06-11.md
Labels: Tech

#708 Update and rename 2025-05-17.md to 2024-05-17.md
  safety/2024-05-17.md
Labels: Safety

#703 Add AI minutes 2024-05-15
  ai/2024/2024-05-15.md
Labels: AI

#689 Add AI team meeting minute 2024-05-08
  ai/2024-05-08.md
Labels: AI

#723 Create 2024-06-25.md
  tech/2024-06-25.md
Labels: Tech

#724 Create 2024-06-04.md
  tech/2024-06-04.md
Labels: Tech
