Repository spdx/meetings, pull requests merged in 2024-10, with the labels that each got.

#776 Add September General meeting minutes
  general/2024/2024-09-05.md
Labels: General

#798 Create 2024-09-25.md
  ai/2024/2024-09-25.md
Labels: AI

#795 Create 2024-10-15.md
  tech/2024/2024-10-15.md
Labels: Tech

#797 Create 2024-10-08.md
  tech/2024/2024-10-08.md
Labels: Tech

#604 Create 2024-01-30.md
  tech/2024-01-30.md
Labels: Tech

#585 Create 2023-12-05.md
  tech/SPDX Tech Team Meeting 2023-12-05.md
Labels: Tech

#801 Move 2023-12-05 to year folder for tech
  tech/2023/SPDX Tech Team Meeting 2023-12-05.md
Labels: Tech

#775 Create 2024-09-10.md
  tech/2024-09-10.md
Labels: Tech

#768 Create 2024-08-20.md
  tech/2024/2024-08-20.md
Labels: Tech

#767 Create 2024-08-14.md
  ai/2024/2024-08-14.md
Labels: AI

#757 Create 2024-08-06.md
  tech/2024/2024-08-06.md
Labels: Tech

#805 Create 2024-10-18.md
  safety/2024/2024-10-18.md
Labels: Safety

#804 Create 2024-10-16.md
  ai/2024/2024-10-16.md
Labels: AI

#806 Create 2024-10-29.md
  tech/2024/2024-10-29.md
Labels: Tech

#807 Create 2024-10-23.md
  ai/2024/2024-10-23.md
Labels: AI
