Repository spdx/meetings, pull requests merged in 2024-05, with the labels that each got.

#676 Add March and April General meeting mins
  general/2024/2024-03-07.md
  general/2024/2024-04-04.md
Labels: General

#682 Update implementers cadence to weekly
  README.md
Labels: Implementers

#678 Catch up on Implementers meeting mins
  implementers/2023/2023-01-11.md
  implementers/2023/2023-01-25.md
  implementers/2023/2023-02-08.md
  implementers/2023/2023-02-22.md
  implementers/2023/2023-03-08.md
  implementers/2023/2023-03-22.md
  implementers/2023/2023-05-17.md
  implementers/2023/2023-05-31.md
  implementers/2023/2023-06-14.md
  implementers/2023/2023-06-28.md
  implementers/2023/2023-07-26.md
  implementers/2024/2024-01-10.md
  implementers/2024/2024-01-24.md
  implementers/2024/2024-05-01.md
Labels: Implementers

#695 Create 2024-05-20.md
  service/2024-05-20.md
Labels: Service

#693 Create 2024-05-17.md
  hardware/2024-05-17.md
Labels: Hardware

#688 Create 2024-05-14.md
  tech/2024-05-14.md
Labels: Tech

#696 Create 2025-05-17.md
  safety/2025-05-17.md
Labels: Safety

#704 Create 2024-05-28.md
  tech/2024-05-28.md
Labels: Tech

#679 Create 2004-03-08.md
  hardware/2004-03-08.md
Labels: Hardware
