Repository spdx/meetings, pull requests merged in 2025-06, with the labels that each got.

#894 Cryptography meetings update
  cryptography/2025-05-28.md
  cryptography/2025-06-04.md
Labels: Cryptography

#455 SPDX Implementers Team Meeting - August 9, 2023
  implementers/2023-08-09.md
Labels: Implementers

#560 Create 2023-10-27.md
  safety/SPDX FuSa Group Meeting - 2023.10.27.md
Labels: Safety

#494 Create 2023-10-06.md
  safety/SPDX FuSa Group Meeting - October 6, 2023.md
Labels: Safety

#497 Create 2023-08-25.md
  safety/SPDX FuSa Group Meeting - August 25, 2023.md
Labels: Safety

#498 Create 2023-07-07.md
  safety/#SPDX FuSa Group Meeting - July 7, 2023.md
Labels: Safety

#499 Create 2023-06-16.md
  safety/SPDX FuSa Group Meeting - June 16, 2023.md
Labels: Safety

#500 Create 2023-06-09.md
  safety/SPDX FuSa Group Meeting - June 9, 2023.md
Labels: Safety

#502 Create 2023-03-30.md
  safety/SPDX FuSa Group Meeting - March 30, 2023.md
Labels: Safety

#504 Create 2023-02-24.md
  safety/SPDX FuSa Group Meeting - Feb 24, 2023.md
Labels: Safety

#503 Create 2023-03-03.md
  safety/SPDX FuSa Group Meeting - March 03, 2023.md
Labels: Safety

#506 Create 2022-11-4.md
  safety/SPDX FuSa Group Meeting - Nov 4, 2022.md
Labels: Safety

#507 Create 2022-10-21.md
  safety/SPDX FuSa Group Meeting - Oct 21, 2022.md
Labels: Safety

#508 Create 2022-10-14.md
  safety/SPDX FuSa Group Meeting - Oct 14, 2022.md
Labels: Safety

#512 Create 2022-08-26.md
  safety/SPDX FuSa Group Meeting - August 26, 2022.md
Labels: Safety

#640 Create 2024-01-26.md
  hardware/2024-01-26.md
Labels: Hardware

#665 Create 2024-03-22.md
  safety/2024-03-22.md
Labels: Safety

#686 Create 2024-05-03.md
  hardware/2024-05-03.md
Labels: Hardware

#710 Create 2024-05-31.md
  safety/2024-05-31.md
Labels: Safety

#728 Create 2024-06-14.md
  hardware/2024-06-14.md
Labels: Hardware

#727 Create 2024-06-28.md
  hardware/2024-06-28.md
Labels: Hardware

#732 Create 2024-06-21.md
  safety/2024-06-21.md
Labels: Safety

#733 Create 2024-06-14.md
  safety/2024-06-14.md
Labels: Safety

#736 Create 2023-12-01.md
  safety/2023-12-01.md
Labels: Safety

#737 Create 2024-03-29.md
  safety/2024-03-29.md
Labels: Safety

#738 Create 2024-04-12.md
  safety/2024-04-12.md
Labels: Safety

#739 Create 2024-04-19.md
  safety/2024-04-19.md
Labels: Safety

#743 Create 2024-07-12.md
  safety/2024-07-12.md
Labels: Safety

#744 Create 2024-07-12.md
  hardware/2024-07-12.md
Labels: Hardware

#750 Create 2024-07-19.md
  safety/2024-07-19.md
Labels: Safety

#755 Create 2024-07-26.md
  safety/2024-07-26.md
Labels: Safety

#758 Create 2024-08-02.md
  safety/2024-08-02.md
Labels: Safety

#763 Create 2024-07-26.md
  hardware/2024-07-26.md
Labels: Hardware

#812 Create 2024-11-01.md
  safety/2024/2024-11-01.md
Labels: Safety

#811 Create 2024-11-08.md
  safety/2024-11-08.md
Labels: Safety

#800 Create 2024-10-11.md
  safety/2024-10-11.md
Labels: Safety

#799 Create 2024-10-04.md
  safety/2024-10-04.md
Labels: Safety

#857 Create 2025-02-25.md
  tech/2025/2025-02-25.md
Labels: Tech

#835 Create 2024-12-20.md
  safety/2024/2024-12-20.md
Labels: Safety

#826 Create 2024-12-13.md
  safety/2024/2024-12-13.md
Labels: Safety

#823 Create 2024-12-06.md
  safety/2024/2024-12-06.md
Labels: Safety

#817 Create 2024-11-22.md
  safety/2024/2024-11-22.md
Labels: Safety

#816 Create 2024-11-15.md
  safety/2024/2024-11-15.md
Labels: Safety

#813 Create 2024-10-25.md
  safety/2024/2024-10-25.md
Labels: Safety

#627 Add Legal team meeting minutes 2024-02-08
  legal/2024/2024-02-08.md
Labels: Legal

#625 Add Legal team meeting minutes 2024-01-11
  legal/2024/2024-01-11.md
Labels: Legal

#645 Add Legal team meeting minutes 2024-02-22
  legal/2024/2024-02-22.md
Labels: Legal

#810 Create 2024-11-06.md
  ai/2024/2024-11-06.md
Labels: AI

#815 Create 2024-11-13.md
  ai/2024/2024-11-13.md
Labels: AI

#873 Create 2025-04-01.md
  tech/2025/2025-04-01.md
Labels: Tech

#871 Create 2025-03-18.md
  tech/2025/2025-03-18.md
Labels: Tech

#870 Create 2025-03-25.md
  tech/2025/2025-03-25.md
Labels: Tech

#865 Create 2025-02-28.md
  safety/2025/2025-02-28.md
Labels: Safety

#859 Create 2025-03-04.md
  tech/2025/2025-03-04.md
Labels: Tech

#834 Create 2024-12-18.md
  ai/2024/2024-12-18.md
Labels: AI

#849 Add AI 2025-01-15
  ai/2025/2025-01-15.md
Labels: AI

#852 Add AI 2025-02-05
  ai/2025/2025-02-05.md
Labels: AI

#855 Add AI 2025-02-12
  ai/2025/2025-02-12.md
Labels: AI

#858 Add AI 2025-02-26
  ai/2025/2025-02-26.md
Labels: AI

#848 Add AI 2025-01-08
  ai/2025/2025-01-08.md
Labels: AI

#874 Add AI 2025-03-26
  ai/2025/2025-03-19.md
  ai/2025/2025-03-26.md
Labels: AI

#803 Create 2024-10-22.md
  tech/2024/2024-10-22.md
Labels: Tech

#683 Create 2024-04-09.md
  tech/2024-04-09.md
Labels: Tech

#785 Create 2024-10-01.md
  tech/2024/2024-10-01.md
Labels: Tech

#661 Create 2024-04-08.md
  asia/2024-04-08.md
Labels: Asia

#741 Create 2024-07-08.md
  asia/2024-07-08.md
Labels: Asia

#796 Create 2024-10-14.md
  asia/2024/2024-10-14.md
Labels: Asia

#879 Create 2025-04-14.md
  asia/2025/2025-04-14.md
Labels: Asia

#887 Create 2025-05-20.md
  tech/2025/2025-05-20.md
Labels: Tech

#687 Add May 8 Implementers meeting
  implementers/2024/2024-05-08.md
Labels: Implementers
